@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1.2s ease-out forwards;
}
.typewriter {
  overflow: hidden;
  border-right:none;
  white-space: nowrap;
  width: 0;
  animation: typing 2.5s steps(30, end) forwards;
}


@keyframes slideUp {
  0% { transform: translateY(20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slideUp {
  animation: slideUp 0.6s ease-out;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* @keyframes blink {
  50% { border-color: transparent }
} */
